@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 15px;
    grid-template-areas: 
    "nav header"
    "nav main";
}
/* --- --- --- --- HEADER --- --- --- --- */
header {
    grid-area: header;

    padding: 0.5rem;
    background-color: #d8b4fe;
    display: grid;
    height: fit-content;
    box-shadow: 1px 1px 10px #1f2937;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-items: start;
}

.search {
    display: grid;
    grid-template-columns: 1fr 20fr;
    justify-items: center;
    grid-gap: 10px;
    margin-left: 1rem;
}

label {
    display: grid;
    place-items: center;
}

input {
    justify-self: start;
    width: 80%;
    border-radius: 25px 25px;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    background-color: #c084fc;
    border: 1px solid black;
}

input:focus {
    outline: none;
}

.notifications #profile-img {
    width: 75px;
    height: auto;
    border-radius: 50%;
}

#profile-img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.notifications {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    grid-gap: 1rem;
}

.icon {
    height: 40px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.account-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.account-name .greet {
    margin-left: 10px;
}

.create-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 10px;
}

.create-content button {
    height: 2.5rem;
    width: 100px;
    border-radius: 20px;
    background-color: #a855f7;
    cursor: pointer;
    border: solid 1px black;
    font-size: 1.2rem;
    color: #f3e8ff;
    transition: all 0.2s;
}

.create-content button:hover {
    transform: scale(1.1);
}
/* --- --- --- --- SIDEBAR --- --- --- --- */
nav {
    grid-area: nav;

    display: grid;
    grid-template-rows: repeat(3, max-content);
    padding: 1rem;
    grid-gap: 2rem;
    background-color: #701a75;

    position: sticky;
    top: 0;
    left: 0;
    max-height: 100vh;
}

nav ul {
    list-style-type: none;
    display: grid;
    font-size: 1.2rem;
    grid-gap: 0.5rem;
}

nav ul li {
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: all 0.2s;
    padding: 5px 0;
}

/* ul li --this does as above code-- {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-radius: 8px;
    transition: all 0.2s;
} */

nav ul li img {
    height: 1.5rem;
    margin-left: 1rem;
    filter: invert(85%) sepia(20%) saturate(517%) hue-rotate(207deg) brightness(104%) contrast(104%);
}

nav ul li a {
    text-decoration: none;
    color: #f3e8ff;
    margin-left: 1rem;
    transition: all 0.2s;
}

nav ul li:hover {
    background-color: #c084fc;
}

nav ul li:hover a {
    color: black;
}

nav ul li:hover img {
    filter: none;
}

nav #dashboard-icon {
    height: 80px;
    filter: invert(85%) sepia(20%) saturate(517%) hue-rotate(207deg) brightness(104%) contrast(104%);
}

nav .logo {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}

nav #title {
    font-size: 2rem;
    font-weight: 700;
    color: #f3e8ff;
}

main {
    grid-area: main;
    padding: 0 20px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-gap: 15px;
    margin-bottom: 15px;
}
/* --- --- --- --- MAIN CONTENTS --- --- --- --- */
.article-contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 15px;
    justify-items: center;
    align-content: center;
}

.article-title, .trending-title, .announcements-title {
    margin-bottom: 10px;
}

.trending-title {
    margin-top: 10px;
}

.project-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.cards {
    height: 250px;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #c084fc;
    display: grid;
    grid-gap: 15px;
    border-left: 10px solid #701a75;
    transition: all 0.3s;
    box-shadow: 5px 10px 15px #888888;
}

.cards:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #fcd34d;
}

.cards .project-description {
    overflow: hidden;
    height: max-content;
    text-overflow: ellipsis;
    text-align: justify;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.interactions img {
    width: 25px;
}

.interactions {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 10px;
    justify-content: end;
}

aside ul {
    list-style-type: none;
    display: grid;
    justify-content: center;
}

aside ul li {
    padding: 10px 0;
}

aside ul p {
    font-size: 0.9rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.announcements-content ul li:nth-child(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.announcements-content {
    padding: 1.5rem;
    background-color: #c084fc;
    border-radius: 12px;
    box-shadow: 5px 10px 15px #888888;
}

.trending-content {
    padding: 1.5rem;
    background-color: #c084fc;
    border-radius: 12px;
    box-shadow: 5px 10px 15px #888888;
}

.trending-content li {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-gap: 5px;
    align-items: center;
}

.trending-content img {
    grid-row: 1 / span 2;
    height: 5rem;
    border-radius: 50%;
}

*{
    /* outline: 1px solid black; */
}