@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 15px;
    grid-template-areas: 
    "nav header"
    "nav main";
}
/* --- --- --- --- HEADER --- --- --- --- */
header {
    grid-area: header;

    padding: 0.5rem;
    background-color: #d8b4fe;
    display: grid;
    height: fit-content;
    box-shadow: 1px 1px 10px #1f2937;
}

.header-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-items: start;
}

label {
    display: grid;
    place-items: center;
}

input {
    width: 100%;
    border-radius: 25px 25px;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    background-color: #c084fc;
    border: 1px solid black;
}

input:focus {
    outline: none;
}

.notifications #profile-img {
    width: 75px;
    height: auto;
    border-radius: 50%;
}

#profile-img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.search {
    display: grid;
    grid-template-columns: 1fr 20fr;
    justify-items: center;
    grid-gap: 10px;
    margin-left: 1rem;
}

.notifications {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    grid-gap: 1rem;
}

.icon {
    height: 40px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

.account-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.account-name .greet {
    margin-left: 10px;
}

.create-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.create-content button {
    height: 2.5rem;
    width: 150px;
    border-radius: 20px;
    background-color: #a855f7;
    cursor: pointer;
    border: solid 1px black;
    font-size: 1.2rem;
    color: #f3e8ff;
    transition: all 0.2s;
}

.create-content button:hover {
    scale: 1.1;
}
/* --- --- --- --- SIDEBAR --- --- --- --- */
nav {
    grid-area: nav;

    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 1rem;
    grid-gap: 3rem;
    background-color: #701a75;
}

nav ul {
    list-style-type: none;
    display: grid;
    font-size: 1.5rem;
    grid-gap: 1.5rem;
}

ul li {
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: all 0.2s;
}

ul li img {
    height: 1.5rem;
    margin-left: 1rem;
    filter: invert(85%) sepia(20%) saturate(517%) hue-rotate(207deg) brightness(104%) contrast(104%);
}

ul li a {
    text-decoration: none;
    color: #f3e8ff;
    margin-left: 1rem;
    transition: all 0.2s;
}

ul li:hover {
    background-color: #c084fc;
}

ul li:hover a {
    color: black;
}

ul li:hover img {
    filter: none;
}

nav #dashboard-icon {
    height: 80px;
    filter: invert(85%) sepia(20%) saturate(517%) hue-rotate(207deg) brightness(104%) contrast(104%);
}

nav .logo {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}

nav #title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #f3e8ff;
}

/* header, nav, main, aside {
    width: 100%;
    background-color: #a855f7;
} */

*{
    outline: 1px solid black;
}

main {
    grid-area: main;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 15px;
}
/* --- --- --- --- MAIN CONTENTS --- --- --- --- */
article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    justify-items: center;
    align-content: center;
}

.cards {
    width: 100px;
    height: 100px;
}